<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/vue.js"></script>
</head>

<body>

    <div id="app">
        <select v-model="msg">
            <option value='请选择' disabled>请选择</option>
            <option value="fff">fff </option>
            <option value="ddd">ddd </option>
            <option value="eee">eee </option>
        </select>
        <input type="text" v-model="text1">
        </input>
         <!-- 修饰符：将内容转化为数字类型 -->
        <input type="text" v-model.lazy="text11">
        </input>

        <input type="text" v-model.lazy="text2">
        </input>
          <!-- 修饰符：将内容转化为数字类型 -->
        <input type="text" v-model.number="text21">
        </input>
        <!-- 修饰符：将文本框内容首尾空白字符去除 -->
        <input type="text" v-model.trim="text3"></input> 
        
    </div>








    <script>
       var em = new Vue({
           el:"#app",
           data:{
               msg:'请选择',
               text1:"",
               text11:"",
               text2:"",
               text21:'',
               text3:""
           }
       })

       setInterval(()=>{
        console.log(em.text11);
       },3000)
       
    </script>
</body>


</html>