/* *{
    padding: 0;
    margin: 0;
} */
.game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.game .sky {
    background-image: url(./img/sky.png);
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.game .land {
    position: absolute;
    background-image: url(./img/land.png);
    width: 200%;
    height: 112px;
    left: 0;
    bottom: 0;
}

.game .pipe {
   width: 52px;
   height: 118px;
}
.game .bird.swing1{
    width: 33px;
    height: 26px;
    background-image: url(./img/bird.png);
    background-position: -8px -10px;
    position: absolute;
    left: 200px;
    top: 150px;

}
.game .bird.swing2{
    width: 33px;
    height: 26px;
    background-position: -60px -10px;
    background-image: url(./img/bird.png);
    position: absolute;
}
.game .bird.swing3{
    width: 33px;
    height: 26px;
    background-position: -113px -10px;
    background-image: url(./img/bird.png);
    position: absolute;
}




.game .pipe.up {
    background-image: url(./img/pipeDown.png);
    position: absolute;
    background-position: bottom;

}

.game .pipe.down {
    background-image: url(./img/pipeUp.png);
    position: absolute;
    background-position: top;
}
.info{
    text-align: center;
}